input[type='number'] {
  padding: 5px;
  width: 50px;
}

form label {
  padding-left: 20px;
}

.styled {
  display: flex;
  text-align: left;
  max-width: 574px;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgb(0 0 0 / 0.7);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}
@media screen and (max-width: 720px){
  div{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media screen and (max-width: 320px){
  div{
    display: none;
  }
}
img {
  max-height: 200px;
  padding-right: 20px;
  border-radius: 20px;
}